* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: white;
    width: 80%;
    margin: auto;
}

#input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin: 10px 0px;
    width: 50%;
    height: 30px;
    padding: 10px 8px;
    background-color: #1e1e1e;
    color: white;
    border: 1px white solid;
    border-radius: 5px;

}
input:hover{
    background-color: #121212;
}
button{
    margin: 10px 0px;
    width: 50%;
    height: 30px;
    background-color:#1e1e1e ;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    border: 1px white solid;
}
button:hover{
    background-color: #303030;
    letter-spacing: 2px;
}

#output{
    margin: 30px 0;
}
#table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#thead{
    background-color: #303030;
}
#Searchfn{
    display: none;
}